<!doctype html>
<title>{% block title %}{% endblock %} - Suivi des contacts</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section>
    <header>
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </header>
</section>
