{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Suivi des contacts{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul>
    <li>Voir les contacts recensés sur les 7 derniers jours</li>
    <li>Ajouter un nouveau contact</li>
</ul>
{% endblock %}
